---
import LogoIcon from './LogoIcon.astro';
---

<div class="flex items-center gap-2">
  <LogoIcon class="text-current" />
  <span class="font-outfit font-extrabold italic text-xl">Product Journey</span>
</div> 