---
import { SITE } from 'astrowind:config';
---

<div class="flex items-center">
  <img 
    src="/product-journey-icon.svg" 
    alt="The Product Journey Logo" 
    class="h-8 w-auto text-[#754043]"
  />
  <span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-[#754043] whitespace-nowrap dark:text-white">
    The Product Journey
  </span>
</div>
